@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/Home/Login" autocomplete="off">
            <div class="form-group mt-5">
                <input type="text" class="form-control" name="Email">
            </div>
            <div class="form-group mt-5">
                <input type="password" class="form-control" name="Password">
            </div>
            <button class="btn btn-success mt-3">Login</button>
        </form>
    </div>
</div>
